body {
  margin: 0;
  font-family: var(--font);
  box-sizing: border-box;
  overflow-x: hidden;
}
html, body {
  overflow-x:hidden 
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  cursor: pointer;
}
a {
  text-decoration: none;
}
:root {
  --font: "Montserrat", sans-serif;
}
button {
  cursor: pointer;
}
.left {
  transform: translate(-100%,0);
  opacity: 0;
  transition: 1.5s ease;
}
.top {
  transform: translate(0,-100%);
  opacity: 0;
  transition: 1.5s ease;
}
.right {
  transform: translate(+100%,0);
  opacity: 0;
  transition: 1.5s ease;
}
.main-page {
  background-image: url(img/main-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  -ms-flex-pack: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  padding: 0 20px;
}
.main-page__menu {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.main-page__list {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
}
.menu-elements {
  color: white;
  font-size: 20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
ul li + li {
  margin-left: 20px;
}
.main-page__title {
  margin: 0 auto;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  display: flex;
  align-items: center;
}
.menu-elements:hover {
  opacity: 0.6;
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
}
.main-page__sub-title {
  text-align: center;
  margin: 40px 0;
  color: white;
  font-size: 30px;
}
.main-page__button {
  display: block;
  margin: 0 auto;
  border: 2px solid white;
  padding: 10px 80px;
  color: white;
  background: transparent;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.main-page__button:hover {
  transform: scale(1.25, 1.25);
  -webkit-transform: scale(1.25, 1.25);
}
.wrapper {
  margin: 0 auto;
  max-width: 1850px;
  padding: 0 30px;
}
.about-us {
  display: flex;
  justify-content: center;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  padding: 30px 20px;
}
.info {
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.info__title {
  color: #c4c4c4;
  font-size: 22px;
  font-weight: 500;
}
.about-us__picture {
  box-shadow: 1px 5px 20px;
}
.info__sub-title {
  font-size: 30px;
  font-weight: 500;
  max-width: 50%;
}
.info__text {
  font-size: 22px;
  color: #5b5b5c;
  width: 56%;
  margin: 0 0 50px 0;
}
.about-us__button {
  padding: 20px 80px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.5s, color 0.2s;
  -webkit-transition: transform 0.2s, background-color 0.5s, color 0.2s;
}
.about-us__button:hover {
  transform: scale(1, 1.1);
  -webkit-transform: scale(1, 1.1);
  background-color: rgb(44, 44, 44);
  color: white;
}
.title {
  text-align: center;
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 600;
  margin: 161px 0 0 0;
}
.sub-title {
  color: #5b5b5c;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
  width: 53%;
  font-size: 24px;
  letter-spacing: 4px;
}
.img-proup__gallery {
  display: block;
}
.img-group {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  margin: 38px 0;
  flex-wrap: wrap;
}
.row {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  justify-content: space-between;
}
.travel__title {
  margin: 55px 0;
  letter-spacing: 3px;
  font-weight: 600;
}
.travel__sub-title {
  color: #848484;
  letter-spacing: 4px;
  font-size: 19px;
  margin: 80px 0 79px 0;
  width: 89%;
}
.travel__img {
  margin: 65px 0 0 0;
}
.travel__button {
  padding: 10px 28px;
  background-color: #dddcdc;
  border: 0px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.travel__button:hover {
  background-color: black;
  color: white;
  border-radius: 5%;
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
}
.tour {
  display: flex;
  display: -ms-flexbox;
  padding: 150px 30px 0 30px;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.width {
  width: 50%;
}
.width35 {
  width: 35%;
}
.width100 {
  width: 100%;
}
.width80 {
  max-width: 80%;
}
.form {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  padding: 155px 0;
}
.form__title {
  font-size: 30px;
  font-weight: 500;
}
.form__subtitle {
  color: #5b5b5c;
  font-size: 18px;
}
.form__input {
  padding: 13px 30px 13px 10px;
  margin: 0 40px;
}
.form__button {
  padding: 10px 64px;
  background-color: rgb(41, 40, 40);
  color: white;
  font-size: 18px;
  letter-spacing: 3px;
  transition: 1s;
  -webkit-transition: 1s;
}
.form__button:hover {
  background-color: white;
  color: black;
}
.footer {
  text-align: center;
  padding: 95px 0;
}
.footer__menu {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
}
.footer__menu-elements{
  color: black;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.footer__menu li + li {
  margin: 0 0 65px 40px;
}
.footer__menu-elements:hover {
  opacity: 0.5;
}
.footer__title,
.footer__sub-title {
  color: #000000;
  margin: 20px 0;
}
@media screen and (max-width: 1700px) {
  .wrapper .row {
    display: flex;
    display: -ms-flexbox;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .width {
    width: 100%;
  }
  .travel .wrapper {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    text-align: center;
  }
  .img-group{
    display: flex;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 38px 0;
  }
  .img-group img + img{
    margin: 10px 0;
  }
  .img-group:nth-child(n + 2){
    display: none;
  }
}
@media screen and (max-width: 1620px) {
  .row {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .wrapper {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    text-align: center;
  }
  .form {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    text-align: center;
  }
  .group {
    display: flex;
    display: -ms-flexbox;
   -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .width {
    width: 100%;
  }
  .info__sub-title,
  .info__text {
    width: 100%;
    max-width: 100%;
  }
  .tour .info,
  .tour .info__sub-title {
    width: 100%;
    text-align: center;
    max-width: 100%;
  }
  .sub-title {
    width: 100%;
  }
  .form__input,
  button {
    margin: 10px 0px;
  }
  .travel__button {
    transform: scale(2, 2);
    -webkit-transform: scale(2, 2);
    transition: 2s;
    -webkit-transition:  2s;
  }
}
@media screen and (max-width: 846px) {
  .title{
    margin: 20px 0 0 0;
  }
  .main-page__title{
    width: 100%;
    height: auto;
  }
  .img-proup__gallery{
    width: 100%;
    height: auto;
    max-width: 390px;
  }
  .travel__img {
    width: 100%;
    height: auto;
  }
  .photos__gallery{
    justify-content: center;
    -webkit-justify-content: center;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-pack: center;
  }
  .about-us img {
    width: 100%;
    height: auto;
  }
  .tour__img {
    width: 100%;
    height: auto;
  }
  .main-page__button {
    transition: 2s;
    -webkit-transition: 2s;
  }
  .footer__menu {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .footer__menu li + li {
    margin: 0;
  }
  .travel__button {
    transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
  }
}
@media screen and (max-width: 320px) {
  .tour{
    padding: 25px 30px 0 30px;
  }
  .title {
    margin: 0;
  }
  img {
    align-self: center;
  }
}
.active {
  transform: translate(0);
  opacity: 1;
}
